@charset "UTF-8";
a{
    color: #555555;
}
a:hover{
    cursor: pointer;
}
body{
    min-width: 1366px;
}
.container{
    width: 1366px !important;
}
.header{
    height: 200px;
}
.logo{
    margin-bottom: 20px;
}
em{
	font-style: normal !important;
	color: red;
}
.index_footer{
    position: absolute;
    width: 800px;
    bottom: 0;
    margin-left: 283px;
}
.search_footer{
	width: 100%;
	height: 50px;
}
.search_footer_row1{
	width: 370px;
	height: 23px;
	margin: 0 auto;
}
.search_footer_row1 a{
	width: 80px;
	height: 15px;
	line-height: 15px;
    text-align: center;
	display: inline-block;
}
.search_footer_row2{
	width: 430px;
	height: 23px;
	margin: 0 auto;
}
.footer-border{
    border-right: 1px solid #333333;
}
.index_footer .row{
    height: 23px;
}

/* search style */
.search-header{
    margin-top: 20px;
    margin-bottom: 2px;
}
.search_btn{
    min-width: 90px;
}
.search-result-msg{
    /*background:-webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00));*/
    height: 40px;
    background: -webkit-linear-gradient(top, #E7E7E7, #F7F7F7);
    background: -moz-linear-gradient(top, #E7E7E7, #F7F7F7);
}
.search-result-msg-text{
    line-height: 40px;
    padding-left: 50px;
    color: #aaa;
}
.search-item{
    padding-left: 50px;
    margin-top: 20px;
}
.search-item a{
}
.search-body{
	height: 800px;
	overflow: hidden;
}
.text{
    color: blue;
    font-size: 22px;
    text-decoration: underline;
}
.url{
    font-size: 16px;
    color: #aaa;
}
.pagination{
    min-width: 380px;
    max-width: 440px;
    height: 30px;
    margin-top: 30px;
}
.pagination button{
    padding: 3px 8px;
    margin: 2px;
    text-decoration: none;
    color: #555;
    border: 1px solid #ccf;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background: #FFF;
}
.pagination button:hover, .pagination button.current {
    border: 1px solid #fa983f;
    color: #f53b24;
    font-weight: bolder;
}